.container {
  margin: 120px 380px 0;
  display: flex;
  gap: 60px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.menu {
  width: 320px;
  height: 64px;
  text-decoration: none;
  color: #8585AD;
  display: flex;
  align-items: center;
}

.menu_active {
  color: #F2F2F3;
}


.text {
  color: #8585AD;
}

.rightBlock {}